.card__delete{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    border: none;
    background: transparent url('../../../images/delete.svg') no-repeat;
    cursor: pointer;
}
      
.cards__delete:hover {
    opacity: 0.5;
    
}
