.profile__button-add{
    background-color: #000;
    cursor: pointer;
    transition: .5s ;
    border: none;
    width: 150px;
    height: 50px;
    border: 2px solid #FFF;
    border-radius: 2px;
    margin: 0 0 0 auto;
    background-image: url(../../../images/add.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    object-fit: cover;
}

.profile__button-add:hover{
    opacity: 0.5;
}

@media screen and (max-width: 767px) {
    .profile__button-add {
      
      width: 100%;
    }
  }

