.popup__button-close{
    background: url(../../../images/close.svg);
    cursor: pointer;
    position: absolute;
    height: 32px;
    right: -40px;
    top: -40px;
    width: 32px;
    background-size: cover;
    border: none;
    transition: all .4s ease-in-out;
}


.popup__button-close:hover{
    opacity: 0.5;
}

@media screen and (max-width: 525px){
    .popup__button-close {
      height: 20px;
      right: 0;
      width: 20px;
  }
  }
